body { margin: 0; cursor: none; }
canvas { display: block; }

.loading {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

h1 {
  font-family: 'Helvetica', sans-serif;
}

.fade-out {
  opacity: 0;
  transition: all 0.5s;
}